@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
}
body {
  background-color: #fff8f3;
}
hr {
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 180px;
  align-items: center;
  z-index: 1;
}

.logo > a {
  color: black;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}
ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  margin: 0 10px;
  letter-spacing: 4px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  padding: 10px 0;
  margin: 0 10px;
}
ul li a:hover {
  color: black;
  font-weight: 600;
}
.icon{
    display: flex;
    align-items: center;  
    margin-top: 80px;
    padding: 0 180px;
}
.icon > h2 {
    color: black;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 2px;
    margin-left: 20px;
  }
section {
  flex-wrap: wrap;
  padding: 10px 180px;
  justify-content: center;
  display: flex;
}
.card {
  cursor: pointer;
  margin: 8px;
  border-radius: 30px 0 0 0;
  width: 300px;
  height: fit-content;
  padding-bottom: 20px;
  background-color: #e0e0e0;
}
.card .desc > h1 {
  margin-bottom: 5px;
}
.card .desc .category {
  padding: 5px 10px;
  display: flex;
  width: 220px;
  margin: auto;
  justify-content: space-between;
}
.card .desc .category .cat1 {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
  background-color: blanchedalmond;
  padding: 3px 5px;
  border-radius: 20px;
}
.card .desc .category .cat2 {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
  background-color: #cacaca;
  padding: 3px 5px;
  border-radius: 20px;
}
.card .desc .category .cat3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 0 5px;
  background-color: #ffffff;
  padding: 3px 5px;
  border-radius: 20px;
}
.card .headnya1 {
  border-radius: 30px 0 0 0;
  width: 300px;
  height: 200px;
  background: rgb(28, 109, 208);
  background: radial-gradient(
      circle,
      rgba(28, 109, 208, 0.2497373949579832) 0%,
      rgba(255, 255, 255, 0.23573179271708689) 80%
    ),
    url(gambar/homep.jpg);
  background-size: cover;
  background-position: center right;
}
.card .headnya2 {
  border-radius: 30px 0 0 0;
  width: 300px;
  height: 200px;
  background: rgb(28, 109, 208);
  background: radial-gradient(
      circle,
      rgba(28, 109, 208, 0.2497373949579832) 0%,
      rgba(255, 255, 255, 0.23573179271708689) 80%
    ),
    url(gambar/calc.jpg);
  background-size: cover;
  background-position: center ;
}
.card .headnya3 {
  border-radius: 30px 0 0 0;
  width: 300px;
  height: 200px;
  background: rgb(28, 109, 208);
  background: radial-gradient(
      circle,
      rgba(28, 109, 208, 0.2497373949579832) 0%,
      rgba(255, 255, 255, 0.23573179271708689) 80%
    ),
    url(gambar/java.jpg);
  background-size: cover;
  background-position: center right;
}
.card .headnya4 {
  border-radius: 30px 0 0 0;
  width: 300px;
  height: 200px;
  background: rgb(28, 109, 208);
  background: radial-gradient(
      circle,
      rgba(28, 109, 208, 0.2497373949579832) 0%,
      rgba(255, 255, 255, 0.23573179271708689) 80%
    ),
    url(gambar/wrc.jpg);
  background-size: cover;
  background-position: center right;
}
.card .headnya5 {
  border-radius: 30px 0 0 0;
  width: 300px;
  height: 200px;
  background: rgb(28, 109, 208);
  background: radial-gradient(
      circle,
      rgba(28, 109, 208, 0.2497373949579832) 0%,
      rgba(255, 255, 255, 0.23573179271708689) 80%
    ),
    url(gambar/palindrom.jpg);
  background-size: cover;

  background-position: center ;
}
.card .desc {
  margin: auto;
  padding: 20px 6px;
  text-align: center;
}
.card:hover {
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -23px -23px 47px #bebebe, 23px 23px 47px #ffffff;
  transform: scale(1.11);
  transition: all 0.4s ease;
}
footer{
    display: flex;
    padding: 50px 100px;
    margin-top: 80px;
    background-color: #A3E4DB;
    justify-content: space-between;
}
.text{
    width: 400px;
}
.text >h5{
    font-size: 20px;
    font-weight: 500;
}
.text >P{
    font-size: 16px;
    font-weight: 300;
}
.contact .location {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
.contact .location >p{
    margin-left: 20px;
}
.contact .phone {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
.contact .phone >p{
    margin-left: 20px;
}
.contact .mail {
    display: flex;
    padding: 10px;
}
.contact .mail >a{
    margin-left: 20px;
}
.contact .social{
  margin-left: 7px;
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.page ul{
    display: flex;
}
.page ul li a{
    color: white;
}
.page ul li a:hover{
    color:#1c6dd0;
}
.page h2 {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}
.page >p {
    margin-left: 10px;
    margin-top: 20px;
    color: #1c6dd0;
}